---
layout: jupyter
title: challenge 13 - population verification
notebook: challenge_population_verification
course: numpy
permalink: /brain/numpy/challenge-population-verification
order: 31
---

**Resources:**
- [Challenge Url](https://www.practiceprobs.com/problemsets/python-numpy/advanced/population-verification/)
- [Solution Video](https://youtu.be/zvyAugH_3sM?feature=shared)
- [Notebook](/assets/notebooks/challenge_population_verification.ipynb)
